
html{
	font-family: 'Nunito', sans-serif;
}

a{
	text-decoration: none;
	color: #d500f9;
}

a:hover{
	opacity: 0.8;
}

.container{
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content{
	max-width: 960px;
	max-height: 500px;
	width: 100%;
	height: 80vh;
	background-color:#fff;
	/* box-shadow: difhorizontal difvertical desenfoque amplitud color */
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) ;
	border-radius: 20px;
	position: relative;
}

.actions{
	position: absolute;
	top: 1em;
	right: 1em;
}

.close{
	height: 40px;
	width: 40px;
	color: white;
	border-radius: 50%;
	background-color: #642B73;
	display: inline-block;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) ;
	font-weight: 300;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paragraph{
	line-height: 1.8em;
}

.fa-star{
	color:#ffc400;
}

.table{
	width: 100%;
	border-spacing: 0;

}

.table td, .table th{
	padding: 1em;
	text-align: left;
}


.title{
	text-transform: uppercase;
	text-align: center;
}

/**Estamos seleccionando el n elemento del padre, tambien hay palabras reservadas
Even:solita pares y odd solicita impares**/

.table tr:nth-child(even){
	background-color: #f3e5f5;
}

.title-item{
	/*border-bottom-style: solid;
	border-width:2px;
	border-color: #C6426E;
	--Estos campos se reemplazan con un shorthand

	padding: arriba derecha abajo izquierda = 4
			 arr/ab der/izq =2;
	*/
	border-bottom: #C6426E solid 2px;
	padding-bottom: 1em;
	font-size: 2em;
}

.position {
	background-color: #C6426E;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
	margin-right: 0.5em;

}

	.content{
		padding: 1em;
}

	/*Trasponer la tabla */

	td{
		display: block;
		width: 100%;
	}

	/*Pseudo clase: ayuda al selector. 
	Pseudo elemento: Se modifica cuando cambia el estado de un selector; */

	td:nth-of-type(1){
		color: #642B73;
		font-size: 1.5em;
		font-weight: bold;
	}

	th{
		display: none;
	}


.address {
	font-weight: bold;
	color: #642B73;
	font-size: 1.2em;
	margin-bottom: 0.5em;
	margin-top: 1em;
	display: inline-block;

}

.main-image {
	float: left;
	margin-right: 1em;
	height: 250px;

}

@media (min-height:  550px){
	.content{
		height: 500px;
	}
}

@media (min-height:  900px){

	.content{
		padding: 1em;
}

	/*Trasponer la tabla */

	td{
		display: table-cell;
		width: auto;

	}

	
	td:nth-of-type(1){
		font-size: 1em;

		.content{ 
			padding: 1.8em;

		}
	}

	th{
		display: table-cell;
	}

}
